@page "/messages"
@inject IMessagesService messagesService

<div class="d-flex flex-column flex-lg-row gap-3 mb-3">
    <div class="d-flex flex-column flex-lg-row">
        <InputText id="search" @bind-Value="@filter.SearchParam" Placeholder="Search" class="form-control w-25"></InputText>

        <div class="w-50 d-flex gap-3 align-items-center">
            <MudSelect Class="w-25" @bind-Value="@filter.SortProp" Label="Sorting parameter">
                <MudSelectItem Value="@("Content")">Content</MudSelectItem>
                <MudSelectItem Value="@("SentAt")">Sent At</MudSelectItem>
            </MudSelect>

            <MudCheckBox @bind-Value="@filter.SortByDescending">Descending</MudCheckBox>
        </div>
    </div>
    <div>
        <MudSelect Class="w-25" @bind-Value="@filter.SelectProps" MultiSelection="true" Delimiter="," Label="Select properties">
            <MudSelectItem Value="@("Content")">Content</MudSelectItem>
            <MudSelectItem Value="@("SentAt")">Sent At</MudSelectItem>
        </MudSelect>
    </div>
    <div class="mb-3 mt-lg-0">
        <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="UpdateUserList">Apply parameters</MudButton>
    </div>
</div>

<MudDataGrid Items="@messages" class="mb-3">
    <Columns>
        <PropertyColumn Property="x => x.Content" />
        <PropertyColumn Property="x => x.SentAt" />
    </Columns>
</MudDataGrid>

@code {
    private IEnumerable<MessageDto> messages = new List<MessageDto>();
    private FilterDto filter = new();

    protected override async Task OnInitializedAsync()
    {
        messages = await messagesService.GetAllUserMessages(null);
        filter = new FilterDto();
    }

    private async Task UpdateUserList()
    {
        messages = await messagesService.GetAllUserMessages(filter);
    }

    private async Task NextPage()
    {
        filter.PageNumber += 1;
        await UpdateUserList();
    }

    private async Task PreviousPage()
    {
        filter.PageNumber -= 1;
        await UpdateUserList();
    }
}