@page "/users"
@inject IUsersService usersService

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
<link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />

<div class="d-flex flex-column flex-lg-row gap-3 mb-3">
    <div class="d-flex flex-column flex-lg-row">
        <InputText id="search" @bind-Value="@filter.SearchParam" Placeholder="Search" class="form-control w-25"></InputText>

        <div class="w-50 d-flex gap-3 align-items-center">
            <MudSelect Class="w-25" @bind-Value="@filter.SortProp" Label="Sorting parameter">
                <MudSelectItem Value="@("UserName")">Username</MudSelectItem>
                <MudSelectItem Value="@("Email")">Email</MudSelectItem>
                <MudSelectItem Value="@("PhoneNumber")">Phone</MudSelectItem>
            </MudSelect>

            <MudCheckBox @bind-Value="@filter.SortByDescending">Descending</MudCheckBox>
        </div>
    </div>
    <div>
        <MudSelect Class="w-25" @bind-Value="@filter.SelectProps" MultiSelection="true" Delimiter="," Label="Select properties">
            <MudSelectItem Value="@("UserName")">Username</MudSelectItem>
            <MudSelectItem Value="@("Email")">Email</MudSelectItem>
            <MudSelectItem Value="@("PhoneNumber")">Phone</MudSelectItem>
        </MudSelect>
    </div>
    <div class="mb-3 mt-lg-0">
        <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="UpdateUserList">Apply parameters</MudButton>
    </div>
</div>

<MudDataGrid Items="@usersList" class="mb-3">
    <Columns>
        <PropertyColumn Property="x => x.UserName" />
        <PropertyColumn Property="x => x.Email" />
        <PropertyColumn Property="x => x.PhoneNumber" />
    </Columns>
</MudDataGrid>

<div>
    <p>Page @filter.PageNumber</p>
    <div>
        @if (filter.PageNumber != 1)
        {
            <a @onclick="PreviousPage">Previous page</a>
        }

        @if (usersList.Count() == filter.PageSize)
        {
            <a @onclick="NextPage">Next page</a>
        }
    </div>
</div>
@code {
    private IEnumerable<UserInfoDto> usersList = new List<UserInfoDto>();
    private UserListFilterDto filter = new();

    protected override async Task OnInitializedAsync()
    {
        // usersList = await usersService.GetUserListAsync(null);
        filter = new UserListFilterDto();
    }

    private async Task UpdateUserList()
    {
        usersList = await usersService.GetUserListAsync(filter);
    }

    private async Task NextPage()
    {
        filter.PageNumber += 1;
        await UpdateUserList();
    }

    private async Task PreviousPage()
    {
        filter.PageNumber -= 1;
        await UpdateUserList();
    }
}
